:root {
  --palette-primary: #ff4900;
  --palette-grey: #ebebeb;
  --container-max-width: 1169px;
  --palette-white: white;
  --palette-black: black;
  --palette-grey-text: grey;
}

.button__primary {
  padding: 14px 35px;
  color: var(--palette-white);
  background-color: var(--palette-primary);
  border: none;
  transition: transform 0.5s ease;
  cursor: pointer;
}

.button__primary:hover {
  transform: scale(1.05);
}

.button__primary--wide {
  padding: 13px 43px;
}

.button__secondary {
  padding: 14px 35px;
  transition: transform 0.5s ease;
  cursor: pointer;
  background-color: var(--palette-white);
  color: var(--palette-primary);
  border: 1px solid var(--palette-primary);
}

.button__secondary:hover {
  transform: scale(1.05);
}

.heading2 {
  font-size: 2rem;
  font-weight: 800;
}

.heading3 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 10px 0;
}

.container {
  margin: 0 auto;
  max-width: var(--container-max-width);
}
