body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  min-height: 260px;
  background-color: var(--palette-grey);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 41px;
  box-sizing: content-box;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 33px;
}

.nav__link.active {
  border-bottom: 2px solid var(--palette-primary);
  color: var(--palette-primary);
}

.nav__link {
  text-decoration: none;
  color: var(--palette-black);
}

.nav__link:hover {
  border-bottom: 2px solid var(--palette-primary);
  color: var(--palette-primary);
}

.blogs {
  border: 1px solid var(--palette-grey);
  padding: 55px 68px;
  margin-top: -62px;
  background-color: var(--palette-white);
}

.blogs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  display: flex;
  margin: 35px 20px -10px 25px;
  align-items: center;
}

.blog__content {
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: start;
  gap: 18px;
  min-width: 556px;
  padding: 8px 16px 8px 10px;
}

.content__text {
  display: flex;
  flex-direction: column;
  gap: 11px;
}

.blog__content p {
  line-height: 22px;
}

.blog__metadata {
  box-sizing: content-box;
  border-left: 1px solid var(--palette-grey-text);
  height: 100px;
  min-width: 193px;
  padding: 11px 0 0 20px;
  margin: 40px 0;
}

.blog__metadata li {
  padding: 6px 0;
  color: var(--palette-grey-text);
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 60px;
  align-items: center;
  margin: 59px 0 0 0;
}

.splide {
  margin-bottom: 50px;
  padding-bottom: 50px;
}

#carousel-heading {
  text-align: center;
  margin-top: 93px;
  margin-bottom: 40px;
}

.splide__slide {
  border: 1px solid var(--palette-grey);
}

.blog-details {
  margin: 37px 0 0 0;
  border-left: 3px solid var(--palette-primary);
  padding: 4px 0 4px 30px;
  font-size: 14px;
}

.blog-details__author {
  display: inline-block;
  font-size: 17px;
  padding-right: 10px;
  margin-bottom: 15px;
  color: var(--palette-primary);
}

.blog-details__date,
.blog-details__publisher {
  color: var(--palette-grey-text);
}

.slide__text {
  padding: 0 23px 0 39px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.slide__text h3 {
  line-height: 33px;
  padding: 4px 0;
}

.slide__text p {
  line-height: 22px;
}

.splide__slide button {
  margin: 25px 20px 40px 37px;
}

.splide__arrows {
  position: absolute;
  display: flex;
  bottom: 0;
  left: 50%;
  gap: 10px;
}

.splide__arrow--prev {
  translate: -49px;
}

.splide__arrow--next {
  translate: 53px;
}

.splide__arrow {
  background-color: white;
}

.footer__content {
  display: flex;
  margin: 86px 60px;
  border-bottom: 1px solid var(--palette-grey-text);
  padding-bottom: 68px;
  margin-bottom: 0;
}

.organization {
  max-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.organization p {
  line-height: 20px;
  color: var(--palette-grey-text);
}

.socials {
  display: flex;
  gap: 28px;
}

.socials__image {
  border: 1px solid var(--palette-primary);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
}

.pages {
  margin-left: 122px;
}

.recent-blogs {
  margin-left: 133px;
}

.partners {
  margin-left: 132px;
}

.pages h4,
.recent-blogs h4,
.partners h4 {
  margin: 18px 0 28px 0;
}

.pages ul,
.recent-blogs ul,
.partners ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--palette-grey-text);
}

.partners ul {
  gap: 13px;
}

.footer__copyright {
  color: var(--palette-grey-text);
  text-align: center;
  font-size: 14px;
  margin-top: 55px;
  margin-bottom: 100px;
}
