body {
  font-family: Arial, Helvetica, sans-serif;
}

.header-wrapper {
  min-height: 260px;
  background-color: var(--palette-grey);
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 41px;
}

.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.navlist {
  list-style: none;
  display: flex;
  gap: 33px;
}

.nav__link.active {
  border-bottom: 2px solid var(--palette-primary);
  color: var(--palette-primary);
}

.nav__link {
  text-decoration: none;
  color: var(--palette-black);
}

.nav__link:hover {
  border-bottom: 2px solid var(--palette-primary);
  color: var(--palette-primary);
}

.blogs {
  border: 1px solid var(--palette-grey);
  padding: 55px 68px;
  margin-top: -62px;
  background-color: var(--palette-white);
}

.blogs__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog {
  display: flex;
  margin: 30px 0 30px 33px;
  align-items: center;
  align-content: center;
  align-self: center;
}

.blog__content {
  padding-left: 10px;
}

.blog__content h3 {
  padding-top: 2px;
}

.blog__content p {
  line-height: 20px;
  padding-top: 10px;
}

.button-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 13px 20px;
  /* flex: 1; */
}

.blog__metadata {
  box-sizing: content-box;
  border-left: 1px solid gray;
  height: 100px;
  min-width: 193px;
  padding: 20px 0 0 20px;
  margin: 40px 0;
}

.blog__metadata li {
  padding: 6px 0;
  color: grey;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
